.login-btn{
    border-radius: 20px;
    border: 3px solid #84A98C ;
    color:white;
    background-color: #354F52;
    font-weight: bold;
    padding: 10px 0px 10px 0px !important;
    position: absolute;
    top: 2%;
    right: 1%;
    width: 120px;
    height: 44px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}